*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    color: #fff;
    padding: 10px;
}

.calculator{
    width: 100%;
    max-width: 600px;
    margin-left: 10%;
    margin-top: 10%;
}
.calculator h1{
    font-size: 60px;
}
.calculator h1 span{
    color: #ffff76;
    text-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.input-box{
    margin-top: 30px;
    display: flex;
    align-items: center;
    padding: 35px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    gap: 20px;
}
.input-box input{
    position: relative;
    width: 70%;
    padding: 15px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    background: #fff;
    color: #333;
    font-weight: 600;   
    cursor: pointer;
}
.input-box button{
    width: 30%;
    padding: 15px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    background: #ffff76;
    color: #333;
    font-weight: 600;
    cursor: pointer;
}
.input-box input::-webkit-calendar-picker-indicator{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    position: absolute;
    background-position: calc(100% - 10px);
    background-size: 30px;
    cursor: pointer;
}